.build
DerivedData
/.previous-build
xcuserdata
.DS_Store
*~
\#*
.\#*
.*.sw[nop]
*.xcscmblueprint
/default.profraw
*.xcodeproj
Utilities/Docker/*.tar.gz
.swiftpm
/build
*.pyc
.docc-build
,

# Gradle files
.gradle/
build/

# IntelliJ
*.iml
.idea/

# Local configuration
local.properties